<odoo>
    <data>

        <menuitem
            id="OpenAI_settings_menu"
            name="OpenAI"
            groups="base.group_erp_manager"
            parent="base.menu_administration"
            sequence="40"
        />



        <menuitem
            id="openai_settings_logs_menu"
            name="Other"
            groups="base.group_erp_manager"
            parent="chat_ai_bot.OpenAI_settings_menu"
            sequence="90"
        >
            <menuitem
                id="openai_settings_logs_log_menu"
                name="OpenAI Logs"
                action="openai_log_act_window"
                groups="base.group_erp_manager"
                sequence="10"
            />
        </menuitem>

    </data>
</odoo>
