openai
langchain-core
langchain-openai
langchain-mistralai
langchain-groq
langchain_anthropic
langchain_huggingface
langchain_ollama
langgraph
langchain_community
markdown
--find-links https://download.pytorch.org/whl/cpu
torch
torchvision
torchaudio

transformers
lxml_html_clean
unidecode
crawl4ai
scrapy
markdownify
lxml_html_clean
faiss-cpu
pymupdf
requests
beautifulsoup4
urllib3
IPython
pyopenssl==22.0.0
cryptography==37.0.0
sentence-transformers
