yfinance
openai
open-interpreter 
langchain-core
langchain-openai
langchain-mistralai
langchain-groq
langchain_anthropic
langgraph
langchain_community
markdown
transformers
lxml_html_clean
unidecode
crawl4ai
scrapy
markdownify
